body {
    background-color: black;
    text-align: center;
}
h1 {color: red;
}
h1{font-size: 50px;
}
 p {color: blue;
 }
 P{font-size: 50px;
 }
img{width:500px;
}
.onepiece {
    height:500px;
}
h2{color: red;
}
h2{font-size: 30px;
 }

